.bg-trace {
    background-color: #CD3333 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.code-exception {
    height: 350px;
    overflow-y: scroll;
}

/* for block of numbers */

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    color: #ccc;
    border-right: 1px solid #CCC;
    vertical-align: top;
    padding-right: 5px !important;
    /* your custom style here */
}

/* for block of code */

.hljs-ln-code {
    padding-left: 10px !important;
}

.hljs {
    background: #F8F8FF !important;
    color: #1C1C1C !important;
}

.hljs-ln .hljs-ln-line {
    white-space: pre;
}

.language-bash .hljs .hljs-string {
    color: #FFD700 !important;
}

.hljs-ln-line {
    color: #B5B5B5 !important;
}

.hljs-title, .hljs-ln-code {
    color: #1C1C1C !important;
}

.hljs-variable, .hljs-built_in {
    color: #CD0000 !important;
}

.hljs-punctuation, .hljs-meta, .hljs-function {
    color: #1C1C1C !important;
}

.hljs-attribute, .hljs-code, .hljs-keyword {
    color: #1874CD !important;
}

.hljs-doctag, .hljs-params, .hljs-operator {
    color: #FF4040 !important;
}

.hljs-string {
    color: #EE7600 !important;
}

.hljs-number, .hljs-literal, .hljs-template-variable, .hljs-class {
    color: #008B00 !important;
}

.hljs-comment, .hljs-quote, .hljs-name, .hljs-attr, .hljs-tag {
    color: #9c92aa !important;
}