html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E6E6FA !important;
}

h3 {
    color: #CD3333;
}

.bg-info-exc {
    font-weight: bold;
    color: #1874CD !important;
    /* background-color: #DCDCDC; */
}

.bg-main-info-exc {
    background-color: #FFF;
}

.text-empty {
    color: #9C9C9C;
}

.txt-dark-theme {
    color: #1874CD !important;
}

/* Works on Firefox */

* {
    scrollbar-width: #F5F5F5;
    scrollbar-color: #1874CD #F5F5F5;
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #1874CD;
    border-radius: 20px;
    border: 3px solid #F5F5F5;
}