@white  : #FFFFFF;
@black  : #000000;
@green-1: #026800;
@green-2: #013600;
@default-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu !important;

/* Scrollbar color */

@scroll-width  : #363636;
@scroll-color-1: #828282;
@scroll-color-2: #363636;

/* Colors */

@color-1: #0038b1;
@color-2: #858585;
@color-3: #d49f00;
@color-4: #1C1C1C;
@color-5: #54c0ff;
@color-6: #363636;
@color-7: #f3f3f3;

/* Code Colors */

@code-color-1 : #cccccc;
@code-color-2 : #2e2e2e;
@code-color-3 : #FFD700;
@code-color-4 : #696969;
@code-color-5 : #e7e7e7;
@code-color-6 : #4796fd;
@code-color-7 : #FF8C00;
@code-color-8 : #01e673;
@code-color-9 : #ffacac;
@code-color-10: #696969;
@code-color-11: #9c92aa;
@code-color-12: #ffc107;